body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gilroy-regular";
    src: url("../webfonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: "Gilroy-extrabold";
    src: url("../webfonts/Gilroy-ExtraBold.ttf");
}

@font-face {
    font-family: "Gilroy-semibold";
    src: url("../webfonts/Gilroy-SemiBold.ttf");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../webfonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: "Gilroy-medium";
    src: url("../webfonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Gilroy-heavy";
    src: url("../webfonts/Gilroy-Heavy.ttf");
}

@font-face {
    font-family: "Gilroy-black";
    src: url("../webfonts/Gilroy-Black.ttf");
}

@font-face {
    font-family: "Gilroy-light";
    src: url("../webfonts/Gilroy-Light.ttf");
}

#main {
    background: rgba(255, 255, 255, 0.2);
    background: url("../images/mainbackground.jpg");
    backdrop-filter: blur(20px) saturate(120%) contrast(200%);
    background-size: 1920px 100%;
    background-position: center;
    border-bottom: 35px solid transparent;
    border-image: -webkit-linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 100%);
    border-image-slice: 1;
}

.logo img {
    width: 200px;
}

.logo img:hover {
    cursor: pointer;
}

#main #header .logo img {
    margin-top: 25px;
}

#header {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

#menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
    min-width: 618px;
    align-items: center;
    margin: 25px auto 0 auto;
    padding-right: 44px;
}

#main #header .menu_item a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: "Gilroy-regular", sans-serif;
}

#main #header #menu .menu_item a:hover {
    color: rgba(34,193,195,1);
}

#main_content {
    margin: 0 auto;
    width: 1200px;
    padding: 110px 0;
}

#main #soc_right {
    position: absolute;
    right: 85px;
    top: 300px;
    text-align: center;
}

.fab {
    color: white;
    font-size: 33px;
}

.fab:hover {
    color: rgba(34,193,195,1);
    font-size: 33px;
}

#main #main_content #title h1 {
    font-family: "Gilroy-extrabold", sans-serif;
    color: white;
    margin-top: -50px ;
    font-size: 50px;
    max-width: 750px;
}

#main #main_content #milk img {
    width: 63px;
}

#main #main_content #milk {

    margin-bottom: 90px;
    max-width: 670px;
    display: flex;
    font-size: 25px;
    color: white;
    font-family: "Gilroy-Regular", sans-serif;
}

#main #main_content #milk img {
    margin-right: 17px;
}

.order_button {
    background-image: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(44,114,251,1) 100%);
    background-image: -webkit-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(44,114,251,1) 100%);
    background-image: -ms-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(44,114,251,1) 100%);
    width: 324px;
    height: 70px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    outline: none;
    border: 0;
}
.order_button1 {
    background-image: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(44,114,251,1) 100%);
    background-image: -webkit-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(44,114,251,1) 100%);
    background-image: -ms-radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(44,114,251,1) 100%);
    width: 324px;
    height: 70px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    outline: none;
    margin-left: 20px;
    border: 0;
}

.orange_button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgba(34,193,195,1);
}

#main #main_content #points {
    margin-top: 105px;



}

#main #main_content #points {
    display: flex;
    font-size: 15px;
    font-family: "Gilroy-semibold", sans-serif;
    align-items: center;
    color: white;
    position: relative;

}

#main #main_content #points span {
    position: relative;
    bottom: 16px;
    margin-right: 50px;

}

#foods, #new_food, #quote, #videos, #call {
    width: 1200px;
    margin: 0 auto;
    font-family: "Gilroy-bold", sans-serif;
}

#guarantees {
    background: url("../images/garant-bg.png") no-repeat top, rgba(255, 255, 255, 0.7);
    background-blend-mode: color;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.zag span {
    font-size: 35px;
    font-family: "Gilroy-Bold", sans-serif;
    color: black;
}

#fir {
    width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

.zag {
    display: flex;
    align-items: center;
}

#guarantees .zag .at_zag {
    max-width: 90px;
    height: 6px;
    background: rgba(34,193,195,1);
    margin-right: 44px;
}

.zag .at_zag {
    width: 90px;
    height: 6px;
    background: rgba(34,193,195,1);
    margin-right: 44px;
    display: inline-block;
    margin-bottom: 7px;
}

.zag_first {
    color: rgba(34,193,195,1) !important;
    display: inline;
}

.zag_second {
    display: inline;
}

#guarantees #qualities {
    width: 1200px;
    margin: 0 auto;
    padding: 115px 0;
    display: flex;
    flex-wrap: wrap;
}


#guarantees #qualities .quality_number {
    font-size: 200px;
    font-family: "Gilroy-Bold", sans-serif;
    color: rgba(126, 123, 121, 0.2);
    line-height: 0;
    z-index: 66;
}

#guarantees .quality_title {
    font-size: 25px;
    font-family: "Gilroy-Bold", sans-serif;
    margin-bottom: 30px;
}

#guarantees .quality_text {
    font-size: 15px;
    font-family: "Gilroy-medium", sans-serif;
    line-height: 1.667;
}

#guarantees #qualities #first_quality {
    width: 490px;
}

#guarantees #qualities #second_quality {
    width: 465px;
    margin-top: 90px;
    margin-left: 100px;
}

#guarantees #qualities #third_quality {
    width: 450px;
    margin-left: 85px;
    margin-top: 150px;
}

#guarantees #qualities #fourth_quality {
    width: 430px;
    margin-left: 130px;
    margin-top: 235px;
}

#guarantees #qualities #first_quality .quality_title, #first_quality .quality_text {
    margin-left: 40px;
    margin-top: -10px;
}

#guarantees #qualities #second_quality .quality_title, #second_quality .quality_text {
    margin-left: 64px;
    margin-top: -10px;
}

#guarantees #qualities #third_quality .quality_title, #third_quality .quality_text {
    margin-left: 55px;
    margin-top: -10px;
}

#guarantees #qualities #fourth_quality .quality_title, #fourth_quality .quality_text {
    margin-left: 84px;
    margin-top: -10px;
}

#foods {
    margin: 155px auto 75px auto;
    width: 1200px;
}

#foods .zag {
    padding: 0;
}


#foods #portfolio .food {
    display: flex;
    justify-content: space-between;
}

.suFbtitle {
    text-align: left;
    font-family: "Gilroy-medium", sans-serif;
    font-size: 20px;
    margin-left: 130px;
    margin-top: 45px;
    margin-bottom: 78px;
    position: relative;
    line-height: 1.75;
    max-width: 1000px;
}

#foods .icons .icon {
    display: flex;
    max-width: 200px;
    justify-content: space-between;
}

#foods .icons img {
    margin-right: 10px;
}

.slick-track::after {
    color: black;
    position: relative;
    left: 500px;
    width: auto;
    height: auto;
    background-image: url("../images/left.svg");
}

#at {
    padding: 100px;
}

#foods #portfolio .food_description {
    margin-top: -40px;
    width: 385px;
}

#foods #portfolio .food_description .food_num {
    font-size: 100px;
    font-family: "Gilroy-Bold", sans-serif;
    color: rgba(126, 123, 121, 0.102);
    line-height: 100px;
}

#foods #portfolio .food_description .food_title {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 25px;
    margin: 30px 0;
}

#foods #portfolio .food_description .food_properties {
    display: flex;
    margin-bottom: 55px;
}

#foods #portfolio .food_description .food_properties ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slick-dots button::before {
    content: " ";
    background: url("../images/ellipse-not-active.png") no-repeat;
}

.slick-dots li button {
    position: absolute;
}

.slick-dots .slick-active button::before {
    content: " ";
    background: url("../images/ellipse-active.png");
}

.slick-dots li button::before {
    opacity: .9;
    color: transparent;
}




#pluses_image #pluses .plus_desc {
    margin-top: 30px;
    margin-bottom: 50px;
}

#new_food #pluses li {
    list-style-type: none;
    position: relative;
}

#food .food .icons {
    display: flex;
    font-family: "Gilroy-medium", sans-serif;
    font-size: 18px;
    color: black;
    margin: 0 auto;
    justify-content: space-between;
}

.slick-prev:before {
    content: url("../images/left.png");
    z-index: 100;
}

.slick-next:before {
    content: url("../images/left.png");
}

.slick-prev:hover:before, .slick-prev:hover {
    content: url("../images/right.png");
    transform: scale(-1, 1) !important;
    margin-top: 0;
}

.slick-next:hover:before, .slick-next:hover {
    content: url("../images/right.png");
    transform: scale(1) !important;
}

.slick-next {
    right: 455px;
    z-index: 100;
    transform: scale(-1, 1);
}

.slick-prev {
    left: 40px;
    z-index: 100;
    margin-top: 10px;
}

.slick-slide {
    outline: 0;
}

#quote #rectangle #quote_rect_down #painting img {
    max-width: 130px;
}

#portfolio {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 0;
}

.slick-track {
    padding: 27px 0;
    overflow: visible;
}

#foods #portfolio .food .food_image {
    width: 768px;
    height: 480px;
}

#foods #portfolio .food .food_image img {
    width: 100%;
    height: 100%;
    border: 10px solid white;
    box-sizing: border-box;
    box-shadow: 0 0 7px 1px rgba(112, 112, 112, 0.49);
    margin-left: 7px;
}

.slick-dots {
    position: absolute;
    width: auto;
    left: calc(50% - 290px);
    bottom: calc(50% - 205px);
}

#big_numbers {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}

#main #soc_right .sn {
    margin: 17px 0;
}

#big_numbers .number_description {
    font-family: "Gilroy-medium", sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 1.75;
    max-width: 330px;
    margin: 0 auto;
}

.big_number {
    max-width: 390px;
    text-align: center;
}

.big_number .number_image {
    margin: 0 auto;
}

#big_numbers .number_description span {
    font-family: "Gilroy-Bold", sans-serif;
}

#new_food .zag {
    margin-top: 155px;
    margin-bottom: 55px;
}

#new_food #pluses_image #pluses {
    max-width: 400px;
}

#new_food #pluses_image #pluses ul {
    padding-left: 27px;
}

#new_food #pluses_image #pluses ul li p {
    font-family: "Gilroy-medium", sans-serif;
    font-size: 15px;
    line-height: 1.666;
}

#new_food #pluses_image {
    display: flex;
    justify-content: space-between;
}

#new_food #pluses_image #pluses ul li h3 {
    font-family: "Gilroy-bold", sans-serif;
    font-size: 25px;
    display: inline;
}

#new_food #pluses_image #pluses img {
    position: absolute;
    top: 5px;
    left: -30px;
}

#quote {
    margin-top: 50px;
    top: 85px;
    display: flex;
}

#quote #square {
    border-radius: 20px;
    background-image: -moz-linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 100%);
    background-image: -webkit-linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 100%);
    background-image: -ms-linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 100%);
    width: 430px;
    max-height: 345px;
    margin-top: -20px;
    box-shadow: 0 5px 17px 1px #b2b2b2;
    position: relative;
}

#quote #square #gor {
    margin: 16px;
    border: 2px solid white;
    border-radius: 25px;
    bottom: -2px;
    padding: 0 45px;
    max-width: 300px;
}

#quote #square #gor #num_4 {
    font-size: 150px;
    font-family: "Gilroy-heavy", sans-serif;
    text-align: center;
    display: inline;
    color: white;
}

#quote #square #word_year {
    position: absolute;
    transform: rotate(-90deg);
    top: 80px;
    right: 33px;
    font-size: 70px;
    font-family: "Gilroy-black", sans-serif;
    color: rgb(255, 235, 196);
}

#quote #square #word_gar {
    font-size: 70px;
    font-family: "Gilroy-bold", sans-serif;
    position: relative;
    bottom: 37px;
    color: rgb(255, 235, 196);
}

#quote #rectangle {
    height: 292px;
    position: relative;
    border: 2px solid #bdb1a5;
    border-radius: 0 20px 20px 0;
    border-left: none;
}

#quote #rectangle #text_quote {
    font-size: 20px;
    font-family: "Gilroy-medium", sans-serif;
    max-width: 560px;
    margin-left: 125px;
    margin-top: 58px;
    line-height: 1.75;
}

#quote #rectangle #im_quote {
    position: absolute;
    left: 45px;
    top: 19px;
}

#quote #rectangle #im_quote img {
    width: 60px;
}

#quote #rectangle #quote_rect_down {
    display: flex;
    max-width: 435px;
    margin-left: 280px;
    margin-top: 35px;
}

#quote #rectangle #owner {
    line-height: 1.222;
    font-family: "Gilroy-Bold", sans-serif;
    color: rgb(56, 25, 0);
    font-size: 18px;
    max-width: 100em;
    margin-right: 5px;
    }

#videos {
    margin-top: 200px;
}

#videos #block_videos .video {
    width: 485px;
    height: 300px;
    box-shadow: 0 5px 12px 3px #b2b2b2;
    margin-bottom: 90px;
}

#videos #block_videos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#videos #block_videos .video iframe {
    height: 100%;
    width: 100%;
}

#videos #block_videos .num_video {
    font-size: 18px;
    font-family: "Gilroy-bold", sans-serif;
    color: rgb(56, 25, 0);
    line-height: 1.944;
}

#call {
    margin-top: 80px;
    position: relative;
}

#call #form {
    margin-bottom: 66px;
    max-width: 725px;
    min-width: 725px;
    height: 317px;
    border-radius: 20px;
    box-shadow: 0 0 20px 3px #efe2d5;
    padding: 32px 10px;
    box-sizing: border-box;
    margin-left: 35ex;
}

#call #form p {
    font-family: "Gilroy-bold", sans-serif;
    color: black;
    font-size: 25px;
    line-height: 1.4;
    text-align: center;
    margin: 0;
}

#call #form #tg {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    max-height: 170px;
}

#call #form #tg .input_form {
    border: 1px solid rgb(126, 123, 121);
    width: 320px;
    height: 70px;
    border-radius: 35px;
    margin: 10px 13px;
    font-family: "Gilroy-bold", sans-serif;
    line-height: 0.792;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    padding-left: 1ex;

}

#call #form #tg .input_form:last-child {
    border: 0
}


#form_and_person {
    display: flex;
}

#call #person {
    position: relative;
    width: 420px;
    height: 315px;
    left: 20px;
    bottom: 50px;
}

#call #person img {
    position: absolute;
    width: 100%;
    left: 30px;
}

#call #form .form_control {
    text-align: center;
    margin-top: 10px;
}

#footer {
    background: url("../images/footer.png");
    background-size: 1920px auto;
    background-position: center;
    position: relative;
    z-index: 100;
    margin-top: -1px;
    border-top: 35px solid transparent;
    border-image: -moz-linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 100%);
    border-image: -webkit-linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 100%);
    border-image: -ms-linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 100%);
    border-image-slice: 1;
}

#footer #info {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    border-bottom: 1px solid #827d78;
}

#footer #info .info_item {
    color: white;
    font-family: "Gilroy-regular", sans-serif;
}

#footer #info .info_up {
    font-family: "Gilroy-bold", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#footer #info .info_down {
    font-size: 15px;
}

#footer #info #log_soc #soc_networks {
    margin-top: 45px;
    margin-left: 7ex;
}

#footer #info #log_soc #soc_networks .soc_network {
    margin-right: 35px;
}

#footer #info #contacts img {
    margin-right: 14px;
}

#footer #info #contacts {
    margin-top: 22px;
}

#footer #info #contacts #cont_mail {
    margin-top: 35px;
}

#footer #save {
    font-family: "Gilroy-regular", sans-serif;
    text-align: center;
    color: #827d78;
    font-size: 15px;
    padding-top: 47px;
    padding-bottom: 55px;
}

#popup_container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: none;
}

#popup_container #popup {
    background: white;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    width: 816px;
    height: 900px;
    border-radius: 35px;

}

#popup_container #popup #popup_message {
    display: none;
}


#popup_container #popup #im_and_form {
    display: flex;
    justify-content: space-between;
    max-width: 610px;
    margin: 0 auto;

}



#popup_container #popup #down {
    font-size: 13px;
    font-family: "GilroyLight", sans-serif;
    color: rgb(126, 123, 121);
    line-height: 1.385;
    position: relative;
    box-sizing: border-box;
    margin: 0 44px;
    text-align: center;
}

#popup_container #popup #down a {
    font-size: 13px;
    font-family: "GilroyLight", sans-serif;
    color: rgb(126, 123, 121);
    line-height: 1.385;
}

#popup_container #popup h2 {
    font-size: 35px;
    font-family: "Gilroy-extrabold", sans-serif;
    color: rgb(56, 25, 0);
    line-height: 1.714;
    text-align: center;
    margin: 35px 0 0 0;
}

#popup_container #popup p {
    font-size: 15px;
    font-family: "Gilroy-regular", sans-serif;
    color: rgb(56, 25, 0);
    line-height: 1.944;
    text-align: center;
    margin: 5px 0 13px 0;
}

#popup_container #popup #popup_right {
    background-color: white;
}

#popup_container #popup #popup_right .form-control {
    width: 325px;
    border: 1px solid rgb(126, 123, 121);
    height: 70px;
    border-radius: 35px;
    margin: 10px 0;
    font-family: "Gilroy-bold", sans-serif;
    line-height: 0.792;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;

}
#popup_container #popup #popup_right #popup_table {
    width: 800px;
    height: 600px;
    font-family: "GilroyLight", sans-serif;
    text-align: left;
    font-size: 20px;
    outline: none;
    display: flex;
    border: 1px;
    padding-left: 0;

}
#popup_container #popup #popup_right #popup_button button {
    cursor: pointer;
    background-image: -moz-linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(34,193,195,1) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(34,193,195) 0%, rgb(34,193,195) 100%);
    position: center;
    text-align: center;
    color: white;
    border: 0;
}

#burger {
    display: none;
    color: white;
    font-size: 32px;
    line-height: 30px;
    margin-top: 25px;
    margin-left: 25px;
}

#popup_container #popup #popup_close #im_and_form #popup_right #input-error{
    color: red;
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: none;
    padding-bottom: 75px;
    font-family: "Gilroy-regular", sans-serif;
}





    #popup_container #popup #popup_right #input_form_container .input_form1{ 

    width: 251px;
    border: 1px solid rgb(126, 123, 121);
    height: 40px;
    border-radius: 35px;
    margin: 10px 0;
    font-family: "Gilroy-light", sans-serif;
    line-height: 0.792;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    padding-left: 25px;}

    #popup_container #popup #popup_right #input_form_container .input_form2{ 

        width: 251px;
        border: 1px solid rgb(126, 123, 121);
        height: 40px;
        border-radius: 35px;
        margin: 10px 0;
        font-family: "Gilroy-light", sans-serif;
        line-height: 0.792;
        font-size: 18px;
        outline: none;
        box-sizing: border-box;
        padding-left: 25px;
        margin-left: 74px;}
        
    
        
    #popup_container #popup #popup_right .input_formphone {
        width: 242px;
        border: 1px solid rgb(126, 123, 121);
        height: 40px;
        border-radius: 35px;
        display: grid;
        font-family: "Gilroy-light", sans-serif;
        line-height: 0.792;
        font-size: 18px;
        outline: none;
        box-sizing: border-box;
        margin-right: 0px;
        padding-left: 25px;}
        

#popup_container #popup #popup_right .input_formaddres {
    width: 582px;
    border: 1px solid rgb(126, 123, 121);
    height: 40px;
    border-radius: 35px;
    margin: 10px 0;
    font-family: "Gilroy-light", sans-serif;
    line-height: 0.792;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    padding-left: 25px;}

#popup_container #popup #popup_right .input_formcom {
    width: 582px;
    border: 1px solid rgb(126, 123, 121);
    height: 40px;
    border-radius: 35px;
    margin: 10px 0;
    font-family: "Gilroy-light", sans-serif;
    line-height: 0.792;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    padding-left: 25px;
    margin-bottom: 1em;}

#popup_container #popup #popup_right .inputcol {
    border: 1px solid rgb(126, 123, 121);
    border-radius: 25px;
    width: 25px;
    text-align: center;
    font-family: "Gilroy-light", sans-serif;
}

#popup_container #popup #popup_right .countbut {
    border: 1px solid rgb(126, 123, 121);
    border-radius: 25px;
    width: 25px;
    text-align: center;
    font-family: "Gilroy", sans-serif;
}


.sendform{
    border: 1px solid rgb(126, 123, 121);
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    font-family: "Gilroy-Light", sans-serif;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: inherit;
    margin-top: 50px;
    background-color: rgba(red, green, blue, 0);
    height: 70px;
    width: 324px;
    margin-top: 11em;
    background-color: white;
}
    


#popup_container #popup #popup_right .counts{

    margin-top: 50px;
    display: flex;  
    padding:5px;
    width: 570px;
    justify-content: space-between;

}

#popup_container #popup #popup_right #counts .countsleft{

    width: 50%;
    margin: auto;  
    margin-left: 0px;

    
}

#popup_container #popup #popup_right #counts .countsright{
    width:50%; 
    float:right;
    margin-left: 100px;

}

.count1{
    margin-bottom: 35px;   

}

.countlabel{
    margin-right: 10px;
    font-family: "Gilroy-light", sans-serif;
}




